.products-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 12px;
    margin: 0 auto;
    padding: 0;
  }

.spinner-container {
    position: fixed;
    width: 90%;
    height: 90%;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    z-index: 1000; 
  }
  